*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

header{
    background-image: url(../images/tropical-gef84e8cc3_1920.jpg);
    background-size: cover;
    background-position:center;
    background-clip: border-box;
    height: 100vh;
    position: relative;
    z-index: 1;
}
header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000033;
    z-index: -1;
}

header .text{
    display: flex;
    justify-content: space-around;
    color: white;
    height: 70px;
    align-items: center;
}

@media(max-width:991px){
    header .text{
    flex-direction: column;
    justify-content: center;
    padding: 20px 0 0 0;
    }
}
header .text h2{
    font-size: 30px;
    cursor: pointer;
}
header .text h2 span{
    color: #46714b;
    font-size: 50px;
}
@media(max-width:991px){
    header .text h2 span{
        color: #575757;
    }
}
header .text ul {
    display: flex;
    list-style: none;
}
header .text ul li{
    font-size: 20px;
    margin: 0 0 0 30px;
    position: relative;
    transition:  0.3s;
    -webkit-transition:  0.3s;
    -moz-transition:  0.3s;
    -ms-transition:  0.3s;
    -o-transition:  0.3s;
    cursor: pointer;
}
header .text ul li:not(:last-child)::before{
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom:-5px ;
    left:  50%;
    transform: translateX(-50%);
    transition:  0.3s;
    -webkit-transition:  0.3s;
    -moz-transition:  0.3s;
    -ms-transition:  0.3s;
    -o-transition:  0.3s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
header .text ul li:hover::before{
    width: 100% ;
}
header .text ul li img{
    width: 25px;
    margin: 0 0 0 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
header .text ul li img:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}


nav .content{
    position: absolute;
    bottom: 8%;
    color: #fff;
    margin-left: 80px;
}

@media(max-width:991px){
    nav .content{
        margin-left: 10px;
    }
}
nav .content h1{
    font-size: 160px;
    line-height: 1;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background-image: url(../images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: move 10s linear infinite;
    -webkit-animation: move 20s linear  infinite;
}

@media(max-width:991px){
    nav .content h1{
        font-size: 90px;
    }
}
@keyframes move{
    100%{
        background-position: 2000px 0;
    }
}




nav .content h3{
    font-size: 30px;
    padding:  0 0 10px 0;
}
@media(max-width:991px){
    nav .content h3{
        font-size: 12px;
    }
}

nav .content .test{
    display: flex;
}
@media(max-width:991px){
    nav .content .test{
        flex-direction: column;
    }
}

nav .content .test button{
    padding: 5px;
    background: none;
    margin: 0 20px 0 0 ;
    color: white;
    padding: 0 10px;
    cursor: pointer;
    border: 2px solid white;
    background-color: #00000059;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
@media(max-width:991px){
    nav .content .test button{
    padding: 20px;
    width: fit-content;
    margin: 10px auto;
    
    }
}

a{
    text-decoration: none;
    color: white;
        transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

nav .content .test button:hover{
    background-color: #fff;
    color: black;
}
nav .content .test button:hover a{
    color: black;
}




nav .content .test button span{
    padding: 0 0 0 10px;
    font-size: 20px;
}

nav .content .test p{
    font-size: 18px;
    line-height: 1.5;
}
@media(max-width:991px){
    nav .content .test p{
        text-align: center;
    }
}


.icon{
    position: absolute;
    right: 5%;
    bottom: 8%;
}

@media(max-width:991px){
    .icon{
            position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-around;
    bottom: 10px;
    }
}

.icon img{
    width: 30px;
    display: block;
    margin: 20px 0 0 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    cursor: pointer;
}

.icon img:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}


